@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Poppins:wght@700;800;900&family=Roboto:wght@500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

/* .menu{
   
} */
.navitem {
  display: flex;
  justify-content: space-between;
}

.navitem ul .donate {
  font-size: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

ul li {
  margin-right: 10px;
}

ul li a {
  width: 100%;
  display: flex;
  /* margin-top: 10px; */
  padding: 5px 16px;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;


}

ul li a:hover {
  color: #EE0012;
}

.active {
  border-bottom: 3px solid #EE0012;
}

.herosec {
  display: flex;
  /* height: 100vh; */
}

.left {
  width: 50%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;

}

.left h5 {
  color: #EE0012;
  font-weight: 600;

  font-family: 'Poppins', sans-serif;

}

.left h1 {
  font-weight: 900;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
}

.right {
  width: 50%;
  /* height: 100vh;
    margin-top: 50px; */
}

.right img {
  max-width: 100%;
  height: auto;
}

.btn1 li {
  list-style-type: none;
}

.btn1 li a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  transition-duration: 0.4s;
  border: 2px solid #EE0012;
  padding: 10px 15px;
  margin-right: 20px;
}

.btn1 li a:hover {
  background-color: #EE0012;
  color: white;
}


.btnmenu {
  display: flex;
  margin-top: 50px;

}



/* ------------------------------------ popup box ------------------------------------- */

#popup {
  display: none;
}

.form-section {

  /* background-color: #f0f2f5; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

/* .form-section.active{
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: top 0ms ease-in-out 0ms,
            opacity 200ms ease-in-out 0ms,
            transform 20ms ease-in-out 0ms;
} */
form {
  display: block;
  position: absolute;
  width: 400px;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  padding: 30px 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  border-radius: 8px;
}

form .close-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 18px;
  cursor: pointer;

}

.container .close-btn:hover {
  color: #3498db;
}

form h3 {
  font-size: 30px;
  font-weight: 600;

  text-align: center;
  margin-bottom: 30px;
}

/* ------------------------------------ popup box ------------------------------------- */